#/1/action/var1/value1/var2/value2/var3/value3/
#/id/methode/var1/value1/var2/value2/var3/value3/


IndexIgnore * 

Options -MultiViews

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.* - [L]

RewriteRule ^(.*)? index.php?request=$1 [L]

php_flag zlib.output_compression On
php_value zlib.output_compression_level 5

#error_reporting  =  E_ALL
php_flag display_errors on

